.myComponent {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.19), 0px 6px 6px rgba(0,0,0,0.23);
    background-color: #f4f4f4;
    border-radius: 15px;
}

.myComponent h1 {
    text-align: center;
    color: #333;
}

.myComponent button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3399ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.myComponent button:hover {
    background-color: #007acc;
}
